tabulate==0.9.0
colorama==0.4.6
tkinter 


























exp 8:
python file :
from flask import Flask
app = Flask(__name__)

@app.route('/')
def home():
    return 'Hello from Docker!'

if __name__ == '__main__':
    app.run(host='0.0.0.0', port=5000)

docker file :
FROM python:3.9-slim

WORKDIR /app

COPY requirements.txt .
RUN pip install -r requirements.txt

COPY . .

EXPOSE 5000

CMD ["python", "app.py"]

docker build -t myflaskapp .
docker run -p 5000:5000 myflaskapp

exp 9:
yml file:

version: '3.8'

services:
  web:
    image: nginx:latest
    ports:
      - '8080:80'
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
    ports:
      - '3306:3306'
docker compose up -d
docker compose ps

exp 10:
In WSL terminal:
bashmkdir ansible-demo
cd ansible-demo
code .
VS Code will open the folder.

In VS Code:
File 1:

Click the New File icon in the Explorer panel
Name it exactly hosts.ini
Paste this inside:
[webservers]
localhost ansible_connection=local

Ctrl+S to save

File 2:

Click New File again
Name it exactly install_nginx.yml
Paste this inside:

yaml
---
- name: Install and Start Nginx
  hosts: webservers
  become: yes

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Nginx
      apt:
        name: nginx
        state: present

    - name: Start Nginx service
      service:
        name: nginx
        state: started
        enabled: yes

ansible-playbook -i hosts.ini install_nginx.yml
systemctl status nginx
http://localhost

exp 7:
    python file : math_ops.py
    def add(a, b):
    return a + b
    python file :test.py
    
    from math_ops import add
    def test_add():
        assert add(2, 3) == 5
        assert add(0, 0) == 0
        print('All tests passed!')
        test_add()
